body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(162,6,122,0.28895308123249297) 0%, rgba(9,9,121,0.3169642857142857) 35%, rgba(189,189,189,0.41220238095238093) 54%, rgba(0,212,255,0.25253851540616246) 100%);
}
.orb-canvas{
    background: rgb(2,0,36);
background: linear-gradient(60deg, rgba(2, 0, 36, 0.561) 0%, rgba(162,6,122,0.28895308123249297) 0%, rgba(9, 9, 121, 0.134) 35%, rgba(189, 189, 189, 0.241) 54%, rgba(0,212,255,0.25253851540616246) 100%);
}
.orb-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
#todo{
    position: relative;
    top: 20%;
    margin: auto;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 60%;
    height: 100%;
    max-width: 1140px;
    min-width: 500px;
    min-height: 500px;
    max-height: 640px;
    padding: 7rem 6rem;
    padding-top: 4%;
    padding-bottom: 4%;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}